.mainLoading {
  margin-top: 48px;
}
.progress {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.mainScreen {
  margin-top: 48px;
  text-align: center;
}

.section {
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
}
.head {
  letter-spacing: 1px;
  font-size: 1.1rem;
  text-align: center;
  color: #222;
}
.hidden {
  display: none;
}

.shopWrapper {
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 8px;
  height: 80px;
}
.shopLogo {
  width: 120px;
  height: 70px;
  margin: auto 0;
  padding: 8px;
  vertical-align: middle;
}
.shopImage {
  width: auto;
  height: auto;
  max-width: 104px;
  max-height: 72px;
}
.shopBranch {
  width: 90%;
  padding: 8px;
  text-align: center;
}
.branchName {
  letter-spacing: 1px;
  font-size: 1.2rem;
  margin: 4px 0 4px;
}
.branchBusinessHour {
  letter-spacing: 1px;
  font-size: 0.8rem;
}
.branchStatus {
  display: inline-block;
  border: 1px solid green;
  border-radius: 3px;
  padding: 0 8px;
  font-weight: bold;
  color: green;
}
.appearance {
  width: 100%;
  box-shadow: 0 0 4px gray;
}

.news {
  width: 100%;
  margin-top: 16px;
  padding: 8px;
  text-align: center;
}
.newsList {
  width: 90%;
  list-style: none;
  text-align: left;
  margin: 0 auto 0;
  padding: 8px;
}
.tableDataDate {
  width: 15%;
  font-size: 0.8rem;
  color: #333;
  text-align: right;
  padding-right: 8px;
  vertical-align: middle;
}
.tableDateHead {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  padding-left: 4px 0 4px 8px;
  vertical-align: middle;
}
.tableDateHead::before {
  content: ' ';
}
.newsLink {
  display: inline-block;
  text-decoration: none;
}
.newsLink::before {
  content: '＞ ';
  font-size: 0.6rem;
  vertical-align: middle;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  color: #333;
  background-color: lightblue;
  box-shadow: 2px 2px 4px lightgray;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 8px;
  margin: 8px 8px 12px;
  padding: 8px;
  font-size: 1.2rem;
}
.searchIcon {
  margin: 0 8px 0;
}
.searchLabel {
  padding: 0 16px;
  letter-spacing: 2px;
}
